body {
    font-family: 'Aptos';
    background-color: #1ba8ef;
    padding: 10px;
}

header h1 {
    text-align: center;
    font-size: 2rem;
}

section {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #000000;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
}

button:disabled {
    background-color: #aaa;
}

#result {
    font-size: 20px;
    text-align: center;
    color: rgb(136, 228, 136);
}

audio {
    display: none;
}
